/**
*	RSF Slideshow -- CSS
*/

#slideshow {
	background-color: #444;
	/*background-repeat:no-repeat;*/
	/*border: 6px solid #444;*/
	border: 12px solid #d3d7d7;
	height: 241px;
	/*margin-bottom: 24px;*/
	overflow: hidden;
	position: relative;
	/*width: 275px;*/
	width: 438px;
}
.slide-container {
	position: absolute;
	height: 100%;
	left: 0;
	overflow: hidden;
	top: 0;
	width: 100%;
}
.slide-container img {
	position: absolute;
}
.slide-container .slide-caption {
	background-color: #000;
	bottom: 0;
	color: #fff;
	display: block;
	left: 0;
	padding: 6px 12px;
	position: absolute;
	text-align: center;
	right: 0;
	/*width: 100%;*/
	filter: alpha(opacity=70); /* internet explorer */
	-khtml-opacity: 0.7;      /* khtml, old safari */
	-moz-opacity: 0.7;       /* mozilla, netscape */
	opacity: 0.7;           /* fx, safari, opera */
}/* CSS Document */

