/**
*	Really Simple Slideshow -- CSS
*/

#slideshow {
	border: 12px solid #444;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-khtml-border-radius: 12px;
	height: 241px;
	overflow: hidden;
	position: relative;
	width: 620px;
}

.slide-container {
	background-color: #444;
	position: absolute;
	height: 100%;
	left: 0;
	overflow: hidden;
	top: 0;
	width: 100%;
}

.slide-container img {
	position: absolute;
}

.slide-container .slide-caption {
	background-color: #000;
	bottom: 0;
	color: #fff;
	display: block;
	left: 0;
	padding: 6px 12px;
	position: absolute;
	text-align: center;
	right: 0;
	/*width: 100%;*/
	filter: alpha(opacity=70); /* internet explorer */
	-khtml-opacity: 0.7;      /* khtml, old safari */
	-moz-opacity: 0.7;       /* mozilla, netscape */
	opacity: 0.7;           /* fx, safari, opera */
}

.slides {
	display: none;
}

